body {
    background-color: burlywood;
    color: black;
    font: normal 15pt arial;
}
h1 {
    color: azure;
}

div#html {
    font: normal 20pt Arial;
    background: rgb(218, 115, 18);
    color: azure;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

div#css {
    font: normal 20pt Arial;
    background: rgb(55, 4, 194);
    color: azure;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

div#javascript {
    font: normal 20pt Arial;
    background: rgb(201, 181, 6);
    color: azure;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}